﻿@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/* ===========================================================
 *
 *  Name:          selectordie_dev.css
 *  Updated:       2014-10-10
 *  Created by:    Per V @ Vst.mn
 *  What?:         Base CSS for Select or Die
 *
 *  Copyright (c) 2014 Per Vestman
 *  Dual licensed under the MIT and GPL licenses.
 *
 *  No, I don't usually comment my CSS, but in this
 *  case it might "help" someone.
 *
 *  Oddny | Cogs 'n Kegs
 * =========================================================== */
/* Remove, change to fit your needs */
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
.sod_select,
.sod_select * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  line-height: 1;
  width: 100%;
  padding: 2px 10px;
  border: 1px solid #ededed;
  background: #ffffff;
  color: #999999;
  font: 400 16px "Open Sans";
  text-align: left;
  outline: 0;
  outline-offset: -2px;
  /* Opera */
  cursor: default;
}

/* Up/Down arrows */
.sod_select:before {
  content: "";
  position: absolute;
  right: -1px;
  top: -1px;
  font-size: 7px;
  height: 27px;
  width: 27px;
  background: #4d4d4d;
}

.sod_select:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 10px;
  font-size: 7px;
  background: url(../images/arr-down.png) no-repeat center;
  width: 10px;
  height: 6px;
}

/* Change the border color on hover, focus and when open */
.sod_select:hover {
  border-color: #000000;
}

.sod_select.open,
.sod_select.focus {
  border-color: #ededed;
}

.sod_select.open {
  color: #919191;
}

/* When the entire SoD is disabled, go crazy! */
.sod_select.disabled {
  border-color: #828282;
  color: #b2b2b2;
  cursor: not-allowed;
}

/* The "label", or whatever we should call it. Keep the first three lines for truncating. */
.sod_select .sod_label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
}

.sod_select .sod_prefix {
  /* Use this if you're using a prefix and want to style it */
}

.sod_select .sod_placeholder {
  /* Use this if you're using a placeholder and want to style it */
}

/* Options list wrapper */
.sod_select .sod_list_wrapper {
  position: absolute;
  top: 100%;
  left: 2px;
  display: none;
  height: auto;
  width: 200px;
  margin: 0 0 0 -3px;
  background: #ffffff;
  border: 1px solid #ededed;
  color: #444444;
  font-weight: 300;
  z-index: 1;
}

/* Shows the option list (don't edit) */
.sod_select.open .sod_list_wrapper {
  display: block;
}

/* Don't display the options when  */
.sod_select.disabled.open .sod_list_wrapper {
  display: none;
}

/* When the option list is displayed above the SoD */
.sod_select.above .sod_list_wrapper {
  top: auto;
  bottom: 100%;
  border-top: 3px solid #000000;
  border-bottom: none;
}

/* Options list container */
.sod_select .sod_list {
  display: block;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

/* All the options. Keep the first three lines for truncating... */
.sod_select .sod_option {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  padding: 5px 10px;
  list-style-type: none;
}

/* Optgroups */
.sod_select .sod_option.optgroup,
.sod_select .sod_option.optgroup.disabled {
  background: inherit;
  color: #939393;
  font-size: 10px;
  font-style: italic;
}

/* Children of an optgroup */
.sod_select .sod_option.groupchild {
  padding-left: 20px;
}

/* Used together with placeholderOption / data-placeholder-option */
.sod_select .sod_option.is-placeholder {
  display: none;
}

/* Disabled option */
.sod_select .sod_option.disabled {
  background: inherit;
  color: #cccccc;
}

/* Hover state for options, also used when a user uses his/hers up/down keys */
.sod_select .sod_option.active {
  background: #f7f7f7;
  color: #333333;
}

/*Make room for the check mark */
.sod_select .sod_option.selected {
  font-weight: 700;
  padding-right: 25px;
}

/* Displays a check mark for the selected option */
.sod_select .sod_option.selected:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  color: #808080;
  height: 9px;
  width: 10px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRDlEOUQ4IiBkPSJNNCw2LjdDMy42LDYuMywzLjUsNi4xLDMuMSw1LjdDMi42LDUuMiwyLDQuNiwxLjUsNC4xYy0wLjgtMC44LTIsMC40LTEuMiwxLjJjMC45LDAuOSwxLjksMS45LDIuOCwyLjgNCgkJYzAuNywwLjcsMS4zLDEsMiwwQzYuNyw2LDguMywzLjcsOS44LDEuNUMxMC41LDAuNSw5LTAuMyw4LjMsMC42bDAsMEM2LjcsMi45LDUuNyw0LjQsNCw2LjciLz4NCjwvZz4NCjwvc3ZnPg0K);
}

/* Add a .no_highlight class to you SoD to hide the check mark and don't bold the option */
.sod_select.no_highlight .sod_option.selected {
  font-weight: 300;
}

.sod_select.no_highlight .sod_option.selected:before {
  display: none;
}

.sod_select .sod_option.link {
  /* If data-link is set on a specific option */
}

.sod_select .sod_option.linkexternal {
  /* If data-link-external is set on a specific option */
}

/* Hide native select */
.sod_select select {
  display: none !important;
}

/* The native select in touch mode. Keep this first line. Sorry, keep everything. */
.sod_select.touch select {
  -webkit-appearance: menulist-button;
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
}

/* iCheck plugin Minimal skin, grey
----------------------------------- */
.icheckbox_minimal-grey,
.iradio_minimal-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(../images/grey.png) no-repeat;
  border: none;
  cursor: pointer;
  margin-bottom: 3px;
  margin-right: 20px;
}

.icheckbox_minimal-grey {
  background-position: 0 0;
}

.icheckbox_minimal-grey.hover {
  background-position: -20px 0;
}

.icheckbox_minimal-grey.checked {
  background-position: -40px 0;
}

.icheckbox_minimal-grey.disabled {
  background-position: -60px 0;
  cursor: default;
}

.icheckbox_minimal-grey.checked.disabled {
  background-position: -80px 0;
}

.iradio_minimal-grey {
  background-position: -100px 0;
}

.iradio_minimal-grey.hover {
  background-position: -120px 0;
}

.iradio_minimal-grey.checked {
  background-position: -140px 0;
}

.iradio_minimal-grey.disabled {
  background-position: -160px 0;
  cursor: default;
}

.iradio_minimal-grey.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_minimal-grey,
  .iradio_minimal-grey {
    background-image: url(../images/grey@2x.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-genderless:before,
.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.fa-buysellads:before {
  content: "";
}

.fa-connectdevelop:before {
  content: "";
}

.fa-dashcube:before {
  content: "";
}

.fa-forumbee:before {
  content: "";
}

.fa-leanpub:before {
  content: "";
}

.fa-sellsy:before {
  content: "";
}

.fa-shirtsinbulk:before {
  content: "";
}

.fa-simplybuilt:before {
  content: "";
}

.fa-skyatlas:before {
  content: "";
}

.fa-cart-plus:before {
  content: "";
}

.fa-cart-arrow-down:before {
  content: "";
}

.fa-diamond:before {
  content: "";
}

.fa-ship:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-motorcycle:before {
  content: "";
}

.fa-street-view:before {
  content: "";
}

.fa-heartbeat:before {
  content: "";
}

.fa-venus:before {
  content: "";
}

.fa-mars:before {
  content: "";
}

.fa-mercury:before {
  content: "";
}

.fa-transgender:before {
  content: "";
}

.fa-transgender-alt:before {
  content: "";
}

.fa-venus-double:before {
  content: "";
}

.fa-mars-double:before {
  content: "";
}

.fa-venus-mars:before {
  content: "";
}

.fa-mars-stroke:before {
  content: "";
}

.fa-mars-stroke-v:before {
  content: "";
}

.fa-mars-stroke-h:before {
  content: "";
}

.fa-neuter:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-pinterest-p:before {
  content: "";
}

.fa-whatsapp:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-user-plus:before {
  content: "";
}

.fa-user-times:before {
  content: "";
}

.fa-hotel:before,
.fa-bed:before {
  content: "";
}

.fa-viacoin:before {
  content: "";
}

.fa-train:before {
  content: "";
}

.fa-subway:before {
  content: "";
}

.fa-medium:before {
  content: "";
}

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  font: 12px/18px Arial, sans-serif;
  width: 100%;
}

.product-list-container.cart button.confirmation {
  padding: 8px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #00a99d;
  color: #fff;
  font: 20px "Open Sans";
  border: 0;
  cursor: pointer;
  margin-right: 0px;
  float: right;
}
.product-list-container.cart button.confirmation:focus {
  outline: 0;
}
.product-list-container.cart button.confirmation:hover {
  opacity: 0.7;
}
.product-list-container.cart button.confirmation:active {
  opacity: 0.85;
}
.product-list-container.cart button.confirmation.dark {
  background: #4d4d4d;
}
.product-list-container.cart .total-price {
  font: 400 20px "Open Sans";
  text-align: right;
  color: #00a99d;
  margin-bottom: 15px;
}
.product-list-container.cart .total-price .price {
  color: #999999;
  padding-left: 20px;
}
.product-list-container.cart table.product-cart {
  width: 100%;
  margin: 20px 0;
}
.product-list-container.cart table.product-cart thead tr th {
  text-align: left;
  height: 50px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  font: 400 16px "Open Sans";
  vertical-align: middle;
  color: #999999;
}
.product-list-container.cart table.product-cart thead tr th:nth-child(1) {
  width: 45%;
}
.product-list-container.cart table.product-cart thead tr th:nth-child(2) {
  width: 30%;
}
.product-list-container.cart table.product-cart thead tr th:nth-child(3) {
  width: 20%;
}
.product-list-container.cart table.product-cart thead tr th:nth-child(4) {
  width: 5%;
}
.product-list-container.cart table.product-cart tbody tr td {
  height: 115px;
  border-bottom: 5px solid #ededed;
  vertical-align: middle;
  text-align: left;
}
.product-list-container.cart table.product-cart tbody tr td:nth-child(1) {
  width: 45%;
}
.product-list-container.cart table.product-cart tbody tr td:nth-child(2) {
  width: 30%;
}
.product-list-container.cart table.product-cart tbody tr td:nth-child(3) {
  width: 20%;
}
.product-list-container.cart table.product-cart tbody tr td:nth-child(4) {
  width: 5%;
}
.product-list-container.cart table.product-cart tbody tr td h3 {
  font: 19px "Open Sans";
  color: #00a99d;
  margin: 0;
}
.product-list-container.cart table.product-cart tbody tr td .product-description {
  font: 400 16px "Open Sans";
  color: #999999;
  text-align: left;
}
.product-list-container.cart table.product-cart tbody tr td .product-price {
  font: 400 16px "Open Sans";
  color: #999999;
}
.product-list-container.cart table.product-cart tbody tr td button {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font: 400 20px "Open Sans";
  color: #999999;
  background: transparent;
  border: none;
  cursor: pointer;
}
.product-list-container.cart table.product-cart tbody tr td button:hover {
  opacity: 0.7;
}
.product-list-container.cart table.product-cart tbody tr td button:active {
  opacity: 0.85;
}
.product-list-container.cart table.product-cart tbody tr td button:focus {
  outline: none;
}
.product-list-container.cart table.product-cart tbody tr td input {
  font: 400 25px "Open Sans";
  padding: 8px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ededed;
  width: 50px;
}
.product-list-container.cart table.product-cart tbody tr td input:focus {
  outline: none;
  border: 1px solid #00a99d;
}
.product-list-container.cart table.product-cart tbody tr:last-child td {
  border-bottom: 5px solid #00a99d;
}

.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}

.ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px;
}

.ui-spinner-button {
  width: 26px;
  height: 26px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  background: #4d4d4d;
  color: #fff;
  right: 22px;
}

/* more specificity required here to override default borders */
.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

/* vertically center icon */
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 50%;
  margin-left: -4px;
}

.ui-spinner-up {
  top: 5px;
  border-bottom: 1px solid #606060 !important;
}

.ui-spinner-down {
  bottom: 5px;
  height: 25px;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
  /* need to fix icons sprite */
  background-position: -65px -16px;
}

.some-menu-block {
  width: 100%;
  padding-top: 30px;
}
.some-menu-block .some-menu {
  width: 20%;
  margin: 0 2.5%;
  float: left;
}
.some-menu-block .some-menu .some-menu-title {
  font: 400 25px "Open Sans";
  padding: 5px 0 5px 20px;
  color: #999999;
  border-left: 5px solid #00a99d;
}
.some-menu-block .some-menu ul {
  list-style: none;
}
.some-menu-block .some-menu ul li {
  padding: 9px 30px 9px 0;
  border-bottom: 1px solid #ededed;
  position: relative;
}
.some-menu-block .some-menu ul li a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #999999;
  font: 400 17px "Open Sans";
}
.some-menu-block .some-menu ul li a:hover {
  color: #00a99d;
}
.some-menu-block .some-menu ul li:after {
  width: 20px;
  height: 20px;
  background: url(../images/some_menu_dots.png) no-repeat left;
  content: '';
  position: absolute;
  right: 0;
  top: 12px;
}
.some-menu-block .some-menu ul li.active:after {
  background: url(../images/some_menu_dots.png) no-repeat right;
}

.product-container {
  width: 68%;
  float: right;
  margin: 40px 2% 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
}
.product-container h1 {
  font: 400 42px "Open Sans";
  padding: 5px 0 5px 30px;
  color: #999999;
  border-left: 5px solid #00a99d;
}
.product-container .product-main-image {
  float: left;
  width: 35%;
  margin-right: 5%;
  height: 370px;
  text-align: center;
}
.product-container .product-main-image img {
  max-width: 100%;
  max-height: 100%;
}
.product-container .product-main-description {
  width: 60%;
  float: right;
  height: 100%;
}
.product-container .product-main-description .product-name-block {
  border-left: 5px solid #00a99d;
  padding-left: 30px;
  margin: 20px 0;
}
.product-container .product-main-description .product-name-block h2 {
  font: 400 29px "Open Sans";
  color: #999999;
  padding-bottom: 5px;
}
.product-container .product-main-description .product-name-block .product-code {
  font: 400 16px "Open Sans";
  color: #999999;
}
.product-container .product-main-description .product-name-block .product-code strong {
  color: black;
  font: 700 16px "Open Sans";
}
.product-container .product-main-description .product-main-price {
  font: 600 33px "Open Sans";
  color: #4d4d4d;
  padding-left: 35px;
  margin-bottom: 35px;
}
.product-container .product-main-description .product-attributes {
  padding-left: 35px;
}
.product-container .product-main-description .product-attributes .select-container {
  width: 100%;
  margin-bottom: 20px;
}
.product-container .product-main-description .product-attributes .select-container label {
  font: 400 16px "Open Sans";
  color: #999999;
  padding-right: 35px;
}
.product-container .product-main-description .product-attributes .select-container .sod_select {
  width: auto;
  padding-right: 25px;
  top: 5px;
}
.product-container .product-main-description .product-attributes .select-container .sod_select .sod_list_wrapper {
  width: auto;
}
.product-container .product-main-description .product-main-actions {
  padding-left: 35px;
}
.product-container .product-main-description .product-main-actions button {
  padding: 16px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #00a99d;
  color: #fff;
  font: 17px "Open Sans";
  border: 0;
  cursor: pointer;
  margin-right: 20px;
}
.product-container .product-main-description .product-main-actions button:focus {
  outline: 0;
}
.product-container .product-main-description .product-main-actions button:hover {
  opacity: 0.7;
}
.product-container .product-main-description .product-main-actions button:active {
  opacity: 0.85;
}
.product-container .product-main-description .product-main-actions button.dark {
  background: #4d4d4d;
}

.sidebar {
  width: 27%;
  margin: 40px 0;
  height: 100%;
  margin-right: 3%;
}
.sidebar.left {
  float: left;
}
.sidebar.right {
  float: right;
}
.sidebar .block {
  margin-bottom: 25px;
}
.sidebar .block label {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font: 400 15px "Open Sans";
  color: #999999;
  padding-left: 15px;
}
.sidebar .block label input {
  margin-right: 20px;
}
.sidebar .block .block {
  border-bottom: 1px solid #ededed;
  margin-bottom: 0;
}
.sidebar .block .block:last-child {
  border: 0;
}
.sidebar .block .block-title {
  height: 25px;
  font: 600 20px "Open Sans";
  background: #4d4d4d;
  color: #fff;
  padding: 10px 15px;
}
.sidebar .block .block-subtitle {
  font: 600 18px "Open Sans";
  color: #4d4d4d;
  padding: 20px 15px 20px 15px;
}
.sidebar .block .block-container.dark-gray {
  background: #f2f2f2;
  padding-bottom: 20px;
}
.sidebar .block .block-container .s-title {
  font: 400 16px "Open Sans";
  color: #00a99d;
  padding: 20px 20px 0 20px;
}
.sidebar .block .block-container .s-text {
  font: 400 16px "Open Sans";
  color: #999999;
  padding: 0 20px;
}
.sidebar .block .block-container address {
  font: 400 16px "Open Sans";
  color: #999999;
  padding: 0 20px;
}
.sidebar .block .block-container ul li.active > a {
  color: #00a99d;
}
.sidebar .block .block-container ul li.active > ul {
  border-top: 1px solid #ededed;
  margin-top: 13px;
}
.sidebar .block .block-container ul li {
  padding: 13px 15px 0 15px;
}
.sidebar .block .block-container ul li a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font: 600 14px "Open Sans";
  text-decoration: none;
  color: #999999;
}
.sidebar .block .block-container ul li a:hover {
  color: #00a99d;
}
.sidebar .block .block-container ul li:not(.multi) {
  border-bottom: 1px solid #ededed;
  height: 14px;
  padding: 13px 15px;
}
.sidebar .block .block-container ul li ul li {
  padding: 15px 0 15px 35px;
}
.sidebar .block .block-container ul li ul li a {
  font: 600 12px "Open Sans";
}
.sidebar .block .block-container ul li i {
  padding-right: 10px;
  color: #00a99d;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
.catalog-container {
  width: 68%;
  float: right;
  margin: 40px 2% 40px 0;
}
.catalog-container .catalog-description {
  width: 100%;
}
.catalog-container .catalog-description h1 {
  font: 400 42px "Open Sans";
  padding: 5px 0 5px 30px;
  color: #999999;
  border-left: 5px solid #00a99d;
}
.catalog-container .catalog-description h2 {
  font: 400 33px "Open Sans";
  padding: 5px 0 5px 30px;
  color: #999999;
  border-left: 5px solid #00a99d;
}
.catalog-container .catalog-description .catalog-description-text {
  font: 400 16px "Open Sans";
  width: 100%;
  padding: 10px 0;
  color: #999999;
}
.catalog-container .catalog-toolbar {
  width: 100%;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 30px;
  margin: 10px 0;
  padding: 10px 0;
}
.catalog-container .catalog-toolbar .product-list-style {
  width: 90px;
  float: left;
  position: relative;
}
.catalog-container .catalog-toolbar .product-list-style .product-list-style-grid, .catalog-container .catalog-toolbar .product-list-style .product-list-style-list {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  height: 27px;
  width: 27px;
  background: #fff;
  color: #000;
  border: 1px solid #ededed;
  cursor: pointer;
}
.catalog-container .catalog-toolbar .product-list-style .product-list-style-grid.active, .catalog-container .catalog-toolbar .product-list-style .product-list-style-list.active {
  background: #00a99d;
  color: #fff;
  border: 1px solid #00a99d;
}
.catalog-container .catalog-toolbar .product-list-style .product-list-style-grid:focus, .catalog-container .catalog-toolbar .product-list-style .product-list-style-list:focus {
  outline: none;
}
.catalog-container .catalog-toolbar .product-list-style .product-list-style-grid:not(.active):hover, .catalog-container .catalog-toolbar .product-list-style .product-list-style-list:not(.active):hover {
  border: 1px solid #00a99d;
}
.catalog-container .catalog-toolbar .product-list-style .product-list-style-grid.active:hover, .catalog-container .catalog-toolbar .product-list-style .product-list-style-list.active:hover {
  opacity: 0.7;
}
.catalog-container .catalog-toolbar .product-list-style button:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.catalog-container .catalog-toolbar .product-list-style button:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  position: relative;
  left: -4px;
}
.catalog-container .catalog-toolbar label {
  font: 400 16px "Open Sans";
  color: #999999;
  position: relative;
  top: -5px;
  padding-right: 10px;
}
.catalog-container .catalog-toolbar .sort-by {
  width: 240px;
  position: relative;
  float: left;
}
.catalog-container .catalog-toolbar .sort-by .sod_select {
  width: 125px;
}
.catalog-container .catalog-toolbar .sort-by .sod_select .sod_list_wrapper {
  width: 125px;
}
.catalog-container .catalog-toolbar .sort-count {
  width: 70px;
  position: relative;
  float: right;
}
.catalog-container .catalog-toolbar .sort-count .sod_select {
  width: 68px;
}
.catalog-container .catalog-toolbar .sort-count .sod_select .sod_list_wrapper {
  width: 68px;
}
.catalog-container .catalog-toolbar .pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-container .catalog-toolbar .pagination li {
  float: left;
  padding: 5px;
  margin-right: 5px;
}
.catalog-container .catalog-toolbar .pagination li a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font: 400 14px "Open Sans";
  color: #999999;
  text-decoration: none;
}
.catalog-container .catalog-toolbar .pagination li a:hover {
  color: #00a99d;
}
.catalog-container .catalog-toolbar .pagination li.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #00a99d;
  padding: 5px 10px;
}
.catalog-container .catalog-toolbar .pagination li.active a {
  color: #fff;
}
.catalog-container .catalog-toolbar .pagination li.active a:hover {
  color: #fff;
}
.catalog-container .catalog-toolbar .pagination li.next a {
  color: #00a99d;
}
.catalog-container .product-list-container {
  width: 100%;
}
.catalog-container .product-list-container.list .product {
  width: 100%;
  margin: 0;
  height: 70px;
  float: none;
}
.catalog-container .product-list-container.list .product:first-child {
  border-top: 4px solid #ededed;
}
.catalog-container .product-list-container.list .product .product-image {
  display: none;
}
.catalog-container .product-list-container.list .product .product-information {
  width: 100%;
}
.catalog-container .product-list-container.list .product .product-information h3 {
  text-align: left;
}
.catalog-container .product-list-container.list .product .product-information .product-price {
  right: 0;
  top: 10px;
  position: absolute;
}
.catalog-container .product-list-container.list .product .product-information .product-description {
  display: block;
  font: 400 16px "Open Sans";
  color: #999999;
  text-align: left;
}
.catalog-container .product-list-container.list .product .product-information:after {
  background: #ededed;
}
.catalog-container .product-list-container.list .product:hover .product-information:after {
  height: 5px;
  background: #00a99d;
}
.catalog-container .product-list-container.list .product:hover .product-information .product-price {
  color: #999999;
  right: 0;
  top: 10px;
  position: absolute;
}
.catalog-container .product-list-container.list .product:hover .product-information h3 {
  color: #00a99d;
}
.catalog-container .product-list-container.list .product:hover .product-information .product-description {
  color: #999999;
}
.catalog-container .product-list-container.list .product:hover .product-actions button {
  background: #00a99d;
  color: #fff;
}
.catalog-container .product-list-container.list .product:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.catalog-container .product-list-container.list .product .product-actions {
  opacity: 1;
  bottom: 12px;
  right: 70px;
  left: auto;
  margin-left: 0;
  z-index: 5;
}
.catalog-container .product-list-container.list .product .product-actions button {
  text-shadow: none;
  background: #FFFFFF;
  color: #999999;
}
.catalog-container .product-list-container .product {
  width: 30.33333%;
  height: 330px;
  float: left;
  position: relative;
  margin: 0 1.5% 30px 1.5%;
}
.catalog-container .product-list-container .product:hover .product-actions {
  display: block;
  opacity: 1;
}
.catalog-container .product-list-container .product:hover .product-information:after {
  height: 70px;
}
.catalog-container .product-list-container .product:hover .product-information h3, .catalog-container .product-list-container .product:hover .product-information .product-price {
  color: #fff;
  margin: 0;
  position: relative;
  z-index: 2;
}
.catalog-container .product-list-container .product .product-image {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
.catalog-container .product-list-container .product .product-image img {
  max-width: 100%;
  max-height: 100%;
}
.catalog-container .product-list-container .product .product-actions {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  min-width: 125px;
  height: 50px;
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
}
.catalog-container .product-list-container .product .product-actions button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.51);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 0;
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: #fff;
  background: #00a99d;
  cursor: pointer;
  margin-right: 20px;
}
.catalog-container .product-list-container .product .product-actions button:hover {
  opacity: 0.7;
}
.catalog-container .product-list-container .product .product-actions button:active {
  opacity: 0.85;
}
.catalog-container .product-list-container .product .product-actions button:focus {
  outline: none;
}
.catalog-container .product-list-container .product .product-actions button:last-child {
  margin-right: 0;
}
.catalog-container .product-list-container .product .product-information {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 70px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.catalog-container .product-list-container .product .product-information h3 {
  font: 19px "Open Sans";
  color: #00a99d;
  padding-top: 8px;
  position: relative;
  z-index: 2;
  margin: 0;
}
.catalog-container .product-list-container .product .product-information .product-description {
  display: none;
}
.catalog-container .product-list-container .product .product-information .product-price {
  font: 16px "Open Sans";
  color: #999999;
  padding-top: 3px;
  position: relative;
  z-index: 2;
  margin: 0;
}
.catalog-container .product-list-container .product .product-information:after {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  background: #00a99d;
  bottom: 0;
  left: 0;
  z-index: 1;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: "Open Sans";
}

.main-container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: #fff;
}

/*Upper header user menu styles*/
.upper-header-wrap {
  background-color: #e6e6e6;
  border-bottom: 1px solid #aaa;
  color: #808080;
  height: 40px;
  font-size: 12px;
  padding: 0 20px;
  margin: 0;
}

.upper-header-wrap .upper-header-item:first-child {
  width: 53%;
}

.upper-header-wrap .upper-header-item:not(:first-child) {
  border-left: 1px solid #fff;
}

.upper-header-wrap .upper-header-item {
  position: relative;
  display: table-cell;
}

.upper-header-wrap .upper-header-item div:hover,
.upper-header-wrap .upper-header-item span:hover,
.upper-header-wrap .upper-header-item .fa:hover {
  cursor: pointer;
}

.upper-header-wrap .fa {
  font-size: 17px;
}

.upper-header-item div {
  display: inline-block;
}

.upper-header-item {
  padding: 10px 15px;
}

.user-info .fa-envelope,
.user-info .fa-phone {
  color: #808080;
}

.upper-header-item .fa {
  margin: 0 10px;
}

.user-login {
  float: right;
}
.user-login .fa-user,
.user-login .user,
.shopping-cart .fa-shopping-cart,
.shopping-cart span:after,
.language .fa {
  color: #00a99d;
}

.shopping-cart span:after,
.shopping-cart-button span:after {
  content: "( 9 )";
  margin-left: 5px;
}

/*Drop-down language menu styles*/
.language .fa {
  font-size: 14px;
}
.language:hover .language-menu,
.language span:hover .language-menu {
  display: block;
}

.language-menu {
  display: none;
  background-color: #e6e6e6;
  border-top: 1px solid #aaa;
  box-shadow: 0px 1px 1px #fff;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
}

.language-menu li:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.language-menu li div{
  border-left: 4px solid #e6e6e6;
}

.language-menu li div {
  padding: 10px 15px;
}

.language-menu li div:hover {
  border-left: 4px solid #00a99d;
  cursor: pointer;
}

/*Logo and search header section*/
.logo-search-wrap {
  padding: 20px 20px 30px;
  text-align: right;
}

.main-logo {
  display: block;
  float: left;
}

.header-search {
  margin-right: 10px;
}

.header-search,
.search-submit,
.search-input,
.shopping-cart-button {
  display: inline-block;
  vertical-align: top;
}

.search-input,
.search-submit {
  margin: 0;
  padding: 6px;
}

.search-input {
  border: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 120px;
  height: 18px;
}

.search-input:focus {
  outline: none;
}

.search-submit {
  background-color: #00a99d;
  border: 1px solid #00a99d;
  border-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-left: -5px;
  padding: 6px 15px;
}

.shopping-cart-button {
  background-color: #00a99d;
  border: 1px solid #00a99d;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 6px;
}

/*Main menu*/
.header-menu-wrap {
  padding: 10px 20px 0;
  border-bottom: 4px solid rgb(0, 169, 157);
}

.header-menu-wrap .main-menu li {
  color: #808080;
  cursor: pointer;
  border-top: 2px solid #fff;
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  padding: 15px 25px;
}

.header-menu-wrap .main-menu li.active {
  border-color: #00a99d;
}

.header-menu-wrap .main-menu li:hover {
  border-color: #00d1c5;
}

/*Breadcrumbs*/
.home .breadcrumbs-wrap,
.overons .breadcrumbs-wrap,
.product-1 .breadcrumbs-wrap {
  display: none;
}

.breadcrumbs-wrap {
  background-color: #e6e6e6;
  color: #808080;
  padding-left: 42px;
}

.breadcrumbs-wrap li {
  display: inline-block;
  padding: 7px 0;
  margin-right: 5px;
}

.breadcrumbs-wrap li a {
  color: #808080;
  text-decoration: none;
}

.breadcrumbs-wrap li a:hover {
  color: #333333;
}

.breadcrumbs-wrap li .fa {
  color: #00a99d;
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
}

/*Footer*/
footer {
  background-color: #e6e6e6;
  border-top: 2px solid #d4d4d4;
  color: #7f7f7f;
  padding: 10px 50px;
}

.footer-item {
  display: inline-block;
  min-width: 30%;
  vertical-align: top;
}

.footer-item address,
.footer-item .footer-contact {
  margin-top: 7px;
  padding-left: 22px;
}

.footer-item address {
  line-height: 15px;
}

.footer-item h2 {
  color: #999999;
  font-size: 22px;
  padding: 7px 15px;
  border-left: 4px solid #00a99d;
}

.footer-contact p {
  font-weight: 600;
}

.footer-contact p span,
.footer-contact p a {
  font-weight: 300;
}

.footer-contact p a.mail {
  text-decoration: none;
  color: #00a99d;
}
.footer-item .footer-menu {
  color: #7f7f7f;
  display: block;
  padding: 5px 0 0 22px;
  text-decoration: none;
}

.footer-item .footer-menu.active {
  text-decoration: underline;
}

.footer-item .footer-menu:hover {
  color: #aaaaaa;
}

/*Nieuws-overzicht*/
.news-container {
  margin: 40px 0 0;
  margin-right: 3%;
  width: 67%;
}

.news-container.left {
  float: left;
}

.news-container h2 {
  color: #999999;
  font-size: 22px;
  padding: 7px 15px;
  border-left: 4px solid #00a99d;
  margin-bottom: 10px;
}

.news-item {
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}

.news-item:not(:first-child) {
  margin-top: 20px;
}

.news-block {
  display: inline-block;
  font-size: 14px;
  margin: 0 2% 2%;
  width: 45%
}

.news-block em {
  display: inline-block;
  color: #00a99d;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5px;
}

.news-text {
  color: #808080;
  margin: 5px 0 10px;
}

.news-block a {
  color: #00a99d;
  display: inline-block;
  text-decoration: none;
}

.news-block a:hover,
.news-block a:hover .fa {
  color: #008c80;
}

.news-block .fa {
  color: #00a99d;
}

.calendar-item {
  background-color: #00a99d;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 5px 12px;
}

.calendar-item p:first-child {
  font-size: 20px;
}

.calendar-item p:last-child {
  font-size: 16px;
}

.nieuws-overzicht .catalog-container {
  margin: 0 3% 40px 0;
  width: 67%;
}

.nieuws-overzicht .catalog-container .catalog-toolbar {
  border-top: none;
  margin-top: 0;
}

/*Winkelwagen*/
.winkelwagen .empty {
  height: 600px;
}

/*---------------------------------- GLOBAL -------------------------------------*/
img {max-width: 100%;}
.button {background: #00a99d; color: #fff; font-size: 18px; line-height: 18px; border-bottom: 3px solid #007f76; border-radius: 5px; text-align: center; text-decoration: none; padding: 11px 40px; display: inline-block;}

.content-container {background: #fff;}

/*---------------------------------- OVERONS.HTML -------------------------------*/
.two-column-content {width: 78%; padding: 36px 11%; float: left;}
.two-column-content h1 {border-left: 5px solid #00a99d; color: #999; font: 400 42px "Open Sans"; margin: 10px 0 36px;  padding: 5px 0 5px 30px;}
.two-column-content p {font: 400 16px "Open Sans"; color: #999999; padding: 0 0 18px 0;}
.two-column-content .column-one {width: 48%; float: left}
.two-column-content .column-two {width: 48%; padding: 0 0 0 4%; float: left;}

.two-column-content.green {background: #4cc3ba; width: 64%; padding: 36px 18% 0;}
.two-column-list li {width: 47%; padding: 0 0 66px 0; clear: both; float: left;}
.two-column-list li:nth-child(2n) {padding: 0 0 66px 6%; clear: none;}
.two-column-list li .ico {width:16%; float: left;}
.two-column-list li .ico .fa {color: #fff; font-size: 30px;}
.two-column-list li .info {width: 84%; color: #fff; float: left}
.two-column-list li .info h3 {font-size: 16px; padding: 0 0 5px 0;}
.two-column-list li .info p {color: #fff; font-size: 14px; line-height: 16px;}

.additional-info {width: 100%; padding: 36px 0; float: left;}
.additional-info-list {width: 30%; padding: 0 0 0 27%;}
.additional-info-list li {padding: 0 0 12px 0;}
.additional-info-list li p {font: 400 12px "Open Sans"; color: #999; padding: 0 0 9px 0;}
.additional-info-list li a {font: 400 12px "Open Sans"; color: #4cc3ba; text-decoration: none;}

/*-------------------------------------- INDEX ---------------------------------*/
.main-image {border-bottom: 4px solid #00a99d; position: relative;}
.main-image img {display: block; position: relative;}
.main-image-descr {background: rgba(0, 0, 0, 0.06); width: 410px; padding: 20px; bottom: 27px; left: 0; border-radius: 0 8px 8px 0; position: absolute;}
.main-image-descr h2 {font-size: 40px; line-height: 40px; color: #fff; text-shadow: 1px 1px 2px #000; padding: 0 0 15px 0;}
.main-image-descr p {font-size: 16px; line-height: 16px; color: #fff; text-shadow: 1px 1px 2px #000; padding: 0 0 18px 0;}

.three-column-content {padding: 36px 6% 0;}
.three-column-content .two-column-list {width: 70%; float: left;}
.three-column-content .two-column-list li {border-bottom: 1px solid #e6e6e6; padding: 0 0 33px 0; margin: 0 0 33px 0;}
.three-column-content .two-column-list li:nth-child(2n) {padding: 0 0 33px 0; margin: 0 0 33px 6%;}
.three-column-content .two-column-list li .ico {}
.three-column-content .two-column-list li .ico .fa {background: #00a99d; font-size: 18px; border-radius: 5px; padding: 5px 6px 6px;}
.three-column-content .two-column-list li .info p {color: #999; font-size: 13px; padding: 0 0 18px 0;}
.three-column-content .two-column-list li .info h3 {color: #00a99d; font-style: italic;}
.three-column-content .right-side-content {width: 26%; padding: 0 0 0 4%; float: left;}

.contact-form {background: #f2f2f2;}
.contact-form h3 {background: #4d4d4d; font-size: 16px; color: #fff; padding: 14px;}
.contact-form h3 .fa {font-size: 18px; color: #fff; margin: 0 10px 0 0;}
.contact-form .form-items {padding: 14px;}
.contact-form .form-items input {width:90%; height: 34px; line-height: 34px; border: 2px solid #e6e6e6; border-radius: 5px; font-size: 13px; font-style: italic; color: #808080; margin: 0 0 7px 0; padding: 0 4%; display: block;}
.contact-form .form-items .button {display: block;}

.catalog-container.main {padding: 0 6% 0 10%; margin: 0; width: 84%;}
.catalog-container.main h2 {border-left: 5px solid #00a99d; color: #999; font: 400 42px "Open Sans"; margin: 10px 0 36px;  padding: 5px 0 5px 30px;}
.catalog-container.main .product-list-container .product {width: 22%;}

.additional-info.main {}
.additional-info.main .additional-info-list {width: 73%; padding: 0 0 0 17%;}
.additional-info.main .additional-info-list li {width: 41%; float: left;}
.additional-info.main .additional-info-list li:first-child {padding: 0 18% 0 0;}
.additional-info.main .additional-info-list li p {font-style: italic; font-size: 12px;}
