.product-list-container.cart {
  button.confirmation {
    padding: 8px 30px;
    @include border-radius(5px);
    @include transition($d-t);
    background: $p-c;
    color: #fff;
    font: 20px $d-f;
    border: 0;
    cursor: pointer;
    margin-right: 0px;
    float:right;

    &:focus {
      outline : 0;
    }

    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.85;
    }

    &.dark {
      background: $d-c;
    }
  }
  .total-price {
    font: 400 20px $d-f;
    text-align:right;
    color: $p-c;
    .price {
      color: $s-c;
      padding-left: 20px;
    }
    margin-bottom: 15px;
  }
  table.product-cart {
    width: 100%;
    margin: 20px 0;
    thead {
      tr {
        th {
          text-align: left;
          height: 50px;
          border-top: 1px solid $b-c;
          border-bottom: 1px solid $b-c;
          font: 400 16px $d-f;
          vertical-align: middle;
          color: $s-c;
          &:nth-child(1) {
            width: 45%;
          }
          &:nth-child(2) {
            width: 30%;
          }
          &:nth-child(3) {
            width: 20%;
          }
          &:nth-child(4) {
            width: 5%;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          height: 115px;
          border-bottom: 5px solid $b-c;
          vertical-align: middle;
          text-align: left;
          &:nth-child(1) {
            width: 45%;
          }
          &:nth-child(2) {
            width: 30%;
          }
          &:nth-child(3) {
            width: 20%;
          }
          &:nth-child(4) {
            width: 5%;
          }

          h3 {
            font: 19px $d-f;
            color: $p-c;
            margin: 0;
          }

          .product-description {
            font: 400 16px $d-f;
            color: $s-c;
            text-align: left;
          }

          .product-price {
            font: 400 16px $d-f;
            color: $s-c;
          }

          button {
            @include transition($d-t);
            font: 400 20px $d-f;
            color: $s-c;
            background: rgba(0,0,0,0);
            border: none;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }
            &:active {
              opacity: 0.85;
            }
            &:focus {
              outline: none;
            }
          }
          input {
            font: 400 25px $d-f;
            padding: 8px;
            @include border-radius(5px 0 0 5px);
            border: 1px solid $b-c;
            width: 50px;

            &:focus {
              outline: none;
              border: 1px solid $p-c;
            }
          }
        }
        &:last-child {
          td {
            border-bottom: 5px solid $p-c;
          }
        }
      }
    }
  }
}
.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}
.ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px;
}
.ui-spinner-button {
  width: 26px;
  height: 26px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  background: $d-c;
  color: #fff;
  right: 22px;
}
/* more specificity required here to override default borders */
.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}
/* vertically center icon */
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 50%;
  margin-left: -4px;
}
.ui-spinner-up {
  top: 5px;
  border-bottom: 1px solid #606060 !important;
}
.ui-spinner-down {
  bottom: 5px;
  height: 25px;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
  /* need to fix icons sprite */
  background-position: -65px -16px;
}