.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.catalog-container {
  width: 68%; //change width corresponding to sidebar width
  float: right;
  margin: 40px 2% 40px 0;

  .catalog-description {
    width: 100%;

    h1 {
      font: 400 42px $d-f;
      padding: $d-p/2 0 $d-p/2 $d-p * 3;
      color: $s-c;
      border-left: 5px solid $p-c;
    }
    h2 {
      font: 400 33px $d-f;
      padding: $d-p/2 0 $d-p/2 $d-p * 3;
      color: $s-c;
      border-left: 5px solid $p-c;
    }

    .catalog-description-text {
      font: 400 16px $d-f;
      width: 100%;
      padding: $d-p 0;
      color: $s-c;
    }

  }

  .catalog-toolbar {
    width: 100%;
    border-top: 1px solid $b-c;
    border-bottom: 1px solid $b-c;
    height: 30px;
    margin: $d-p 0;
    padding: 10px 0;

    .product-list-style {
      width: 90px;
      float: left;
      position: relative;

      .product-list-style-grid, .product-list-style-list{
        @include transition($d-t);
        height: 27px;
        width: 27px;
        background: #fff;
        color: #000;
        border: 1px solid $b-c;
        cursor: pointer;

        &.active {
          background: $p-c;
          color: #fff;
          border: 1px solid $p-c;
        }
        &:focus {
          outline: none;
        }
        &:not(.active):hover {
          border: 1px solid $p-c;
        }
        &.active:hover {
          opacity: 0.7;
        }
      }
      button:first-child {
        @include border-radius(5px 0 0 5px);
      }
      button:last-child {
        @include border-radius(0 5px 5px 0);
        position: relative;
        left: -4px;
      }
    }

    label {
      font: 400 16px $d-f;
      color: $s-c;
      position: relative;
      top: -5px;
      padding-right: 10px;
    }



    .sort-by {
      width: 240px;
      position: relative;
      float: left;

      .sod_select {
        width: 125px;

        .sod_list_wrapper {
          width: 125px;
        }
      }
    }

    .sort-count {
      width: 70px;
      position: relative;
      float: right;

      .sod_select {
        width: 68px;

        .sod_list_wrapper {
          width: 68px;
        }
      }
    }
    .pagination {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        padding: 5px;
        margin-right: 5px;

        a {
          @include transition($d-t);
          font: 400 14px $d-f;
          color: $s-c;
          text-decoration: none;

          &:hover {
            color: $p-c;
          }
        }

        &.active {
          @include border-radius(5px);
          background: $p-c;
          padding: 5px 10px;

          a {
            color: #fff;

            &:hover {
              color: #fff;
            }
          }
        }
        &.next a {
          color: $p-c;

        }
      }
    }
  }

  .product-list-container {
    width: 100%;

    &.list {
      .product {
        width: 100%;
        margin: 0;
        height: 70px;
        float: none;

        &:first-child {
          border-top: 4px solid $b-c;
        }

        .product-image {
          display: none;
        }
        .product-information {
          width: 100%;
          h3 {
            text-align: left;
          }
          .product-price {
            right: 0;
            top: 10px;
            position: absolute;
          }
          .product-description {
            display: block;
            font: 400 16px $d-f;
            color: $s-c;
            text-align: left;
          }
          &:after {
            background: $b-c;
          }
        }
        &:hover {
          .product-information {
            &:after {
              height: 5px;
              background: $p-c;
            }
            .product-price {
              color: $s-c;
              right: 0;
              top: 10px;
              position: absolute;
            }
            h3 {
              color: $p-c;
            }
            .product-description {
              color: $s-c;
            }
          }
          .product-actions {
            button {
              background: $p-c;
              color: #fff;
            }
          }
        }
        &:after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
        }
        .product-actions {
          opacity: 1;
          bottom: 12px;
          right: 70px;
          left: auto;
          margin-left: 0;
          z-index: 5;
          button {
            text-shadow: none;
            background: #FFFFFF;
            color: $s-c;
          }
        }
      }

    }

    .product {

      width: 30.33333%;
      height: 330px;
      float: left;
      position: relative;
      margin: 0 1.5% 30px 1.5%;

      &:hover {
        .product-actions {
          display: block;
          opacity: 1;
        }
        .product-information {
          &:after {
            height: 70px;
          }
          h3, .product-price {
            color: #fff;
            margin: 0;
            position: relative;
            z-index: 2;
          }

        }
      }

      .product-image {
        max-width: 100%;
        max-height: 100%;
        text-align: center;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .product-actions {
        @include transition($d-t);

        min-width: 125px; //for two buttons now only!
        height: 50px;
        position: absolute;
        bottom: 90px;
        left: 50%;
        margin-left: -60px;
        opacity: 0;

        button {
          @include border-radius(50%);
          @include text-shadow;
          @include transition($d-t);

          border: 0;
          height: 50px;
          width: 50px;
          font-size: 25px;
          color: #fff;
          background: $p-c;
          cursor: pointer;
          margin-right: 20px;

          &:hover {
            opacity: 0.7;
          }
          &:active {
            opacity: 0.85;
          }
          &:focus {
            outline: none;
          }
          &:last-child {
            margin-right: 0;
          }

        }

      }

      .product-information {
        @include transition($d-t);

        width: 100%;
        height: 70px;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;

        h3 {
          font: 19px $d-f;
          color: $p-c;
          padding-top: 8px;
          position: relative;
          z-index: 2;
          margin: 0;
        }

        .product-description {
          display: none;
        }

        .product-price {
          font: 16px $d-f;
          color: $s-c;
          padding-top: 3px;
          position: relative;
          z-index: 2;
          margin: 0;
        }

        &:after {
          @include transition($d-t);

          position: absolute;
          content: '';
          width: 100%;
          height: 5px;
          background: $p-c;
          bottom: 0;
          left: 0;
          z-index: 1;
        }
      }
    }
  }
}