@mixin border-radius($variable) {
  -webkit-border-radius: $variable;
  -moz-border-radius: $variable;
  border-radius: $variable;
}

@mixin transition($variable) {
  -webkit-transition: $variable;
  -moz-transition: $variable;
  -o-transition: $variable;
  transition: $variable;
}
@mixin text-shadow() {
  text-shadow: 0 1px 2px $d-s-c;
}