.product-container {
  width: 68%; //change width corresponding to sidebar width
  float: right;
  margin: 40px 2% 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid $b-c;

  h1 {
    font: 400 42px $d-f;
    padding: $d-p/2 0 $d-p/2 $d-p * 3;
    color: $s-c;
    border-left: 5px solid $p-c;
  }

  .product-main-image {
    float: left;
    width: 35%;
    margin-right: 5%;
    height: 370px;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .product-main-description {
    width: 60%;
    float: right;
    height: 100%;

    .product-name-block {
      border-left: 5px solid $p-c;
      padding-left: $d-p * 3;
      margin: $d-p * 2 0;

      h2 {
        font: 400 29px $d-f;
        color: $s-c;
        padding-bottom: 5px;
      }
      .product-code {
        font: 400 16px $d-f;
        color: $s-c;

        strong {
          color: black;
          font: 700 16px $d-f;
        }
      }
    }

    .product-main-price {
      font: 600 33px $d-f;
      color: $d-c;
      padding-left: $d-p * 3 + 5;
      margin-bottom: 35px;
    }
    .product-attributes {
      padding-left: $d-p * 3 + 5;

      .select-container {
        width: 100%;
        label {
          font: 400 16px $d-f;
          color: $s-c;
          padding-right: 35px;
        }
        .sod_select {
          width: auto;
          padding-right: 25px;
          top: 5px;

          .sod_list_wrapper {
            width: auto;

          }
        }
        margin-bottom: 20px;
      }

    }
    .product-main-actions {
      padding-left: $d-p * 3 + 5;

      button {
        padding: 16px 30px;
        @include border-radius(5px);
        @include transition($d-t);
        background: $p-c;
        color: #fff;
        font: 17px $d-f;
        border: 0;
        cursor: pointer;
        margin-right: 20px;

        &:focus {
          outline : 0;
        }

        &:hover {
          opacity: 0.7;
        }
        &:active {
          opacity: 0.85;
        }

        &.dark {
          background: $d-c;
        }
      }
    }
  }
}