.sidebar {
  width: 27%;
  margin: 40px 0;
  height: 100%;
  margin-right: 3%;

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }

  .block {
    margin-bottom: 25px;

    label {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      font: 400 15px $d-f;
      color: $s-c;
      padding-left: 15px;

      input {
        margin-right: 20px;
      }
    }

    .block {
      border-bottom: 1px solid $b-c;
      margin-bottom: 0;

      &:last-child {
        border: 0;
      }
    }

    .block-title {
      height: 25px;
      font: 600 20px $d-f;
      background: #4d4d4d;
      color: #fff;
      padding: 10px 15px;
    }
    .block-subtitle {
      font: 600 18px $d-f;
      color: #4d4d4d;
      padding: 20px 15px 20px 15px;
    }

    .block-container {

      &.dark-gray {
        background: #f2f2f2;
        padding-bottom: 20px;
      }

      .s-title {
        font: 400 16px $d-f;
        color: $p-c;
        padding: 20px 20px 0 20px;
      }
      .s-text {
        font: 400 16px $d-f;
        color: $s-c;
        padding: 0 20px;
      }
      address {
        font: 400 16px $d-f;
        color: $s-c;
        padding: 0 20px;
      }

      ul {
        li.active > a {
          color: $p-c;
        }
        li.active > ul {
          border-top: 1px solid $b-c;
          margin-top: 13px;
        }
        li {
          padding: 13px 15px 0 15px;

          a {
            @include transition($d-t);

            font: 600 14px $d-f;
            text-decoration: none;
            color: $s-c;

            &:hover {
              color: $p-c;
            }
          }

          &:not(.multi) {
            border-bottom: 1px solid $b-c;
            height: 14px;
            padding: 13px 15px;
          }


          ul {

            li {
              a {
                font: 600 12px $d-f;
              }
              padding: 15px 0 15px 35px;
            }
          }

          i {
            padding-right: 10px;
            color: $p-c;
          }
        }
      }
    }
  }
}