.some-menu-block {
  width: 100%;
  padding-top: $d-p * 3;
  .some-menu {
    width: 20%; //currently 4 blocks!
    margin: 0 2.5%;
    float: left;

    .some-menu-title {
      font: 400 25px $d-f;
      padding: $d-p/2 0 $d-p/2 $d-p * 2;
      color: $s-c;
      border-left: 5px solid $p-c;
    }

    ul {
      list-style: none;

      li {
        padding: 9px 30px 9px 0;
        border-bottom: 1px solid $b-c;
        position: relative;
        a {
          @include transition($d-t);
          text-decoration: none;
          color: $s-c;
          font: 400 17px $d-f;

          &:hover {
            color: $p-c;
          }
        }
        &:after {
          width: 20px;
          height: 20px;
          background: url(../images/some_menu_dots.png) no-repeat left;
          content: '';
          position: absolute;
          right: 0;
          top: 12px;
        }
        &.active:after {
          background: url(../images/some_menu_dots.png) no-repeat right;
        }
      }
    }
  }
}