//Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

$d-f: 'Open Sans'; //d-f = DEFAULT FONT
$d-p: 10px; //d-p = DEFAULT PADDING
$p-c: #00a99d; //p-c = PRIMARY COLOR
$s-c: #999999; //s-c = SECONDARY COLOR
$b-c: #ededed; //b-c = BORDER COLOR
$d-c: #4d4d4d; //d-c = DEFAULT DARK COLOR
$d-s-c: rgba(0, 0, 0, 0.51); //d-s-c = DEFAULT SHADOW COLOR
$d-t: 0.5s; //d-t = DEFAULT TRANSITION